.events-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

.details-container,
.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-events {
  align-items: center;
  margin-top: 5rem;
}

hr.rounded {
  margin-top: 4rem;
  border-top: 5px solid aliceblue;
  border-radius: 5px;
}

.comment {
  align-items: center;
}

label {
  align-items: center;
}

hr.rounded-comment {
  margin-top: 2rem;
  border-top: 5px solid aliceblue;
  border-radius: 5px;
  width: 98%;
}
