.login-form,
.signup-form {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.auth-form-container,
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  background-size: 100%;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-width: 950px;
  border-radius: 30px;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 10rem;
    border: 1px solid aliceblue;
  }
}

label {
  text-align: left;
  padding: 0.5rem 0;
}

input {
  margin: 0.2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 250px;
}

button {
  border: none;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #93a5cf;
  margin: 20px;
  width: 100px;
}
