nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 150px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04aa6d;
}

.logout-btn {
  margin-top: 12px;
}

.logo {
  width: 125px;
  height: 62px;
  float: left;
  margin-left: 1.5rem;
  margin-top: 0.6rem;
}
