.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid aliceblue;
  border-radius: 10px;
  width: 30vw;
  padding-top: 2rem;
}

.upload-btn {
  height: 5vh;
}

img {
  width: 150px;
  height: 150px;
}

.back-btn {
  padding-top: 1rem;
}
